[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "3.2.6"
pymongo = "4.8.0"
kafka-python-ng = "2.2.2"

[dev-packages]

[requires]
python_version = "3.12"
